#logotipo_login{
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-left: 550px;
	background-color: darkmagenta;
}

#box{
	width: 300px;
	height: 300px;
	margin-top: 20px;
	margin-left: 500px;
}

