* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#atalho{
    padding:20px;
    height:150px;
    background-color: #f2f1f0;
}

#filtro	{		
    height:30px;
    background-color: #e3e6e3;
    margin-top:5px;
    padding:20px;
    
}

.cabecalho{
    background: white;
    padding: 15px; 
}

.menu {
    display: block;
    background-color: #252323;
    text-align: center;
    height: 30px;
    width: 100%;
}
.menu ul {
    width: 100%;
    margin: 0 auto;
    padding: 4px;
    list-style-type: none;
}
.menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;

}
.menu ul li a {
    color: #d1cbcb;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
}

.menu_lista{
    padding: 0;
    list-style: none; 
}
